<div class="container">
  <div class="jumbotron">
    <h2 class="text-center web-color">Certifikáty</h2>
    <hr>
      @if (certificates.length) {
        <div class="row">
          @for (certificate of certificates; track certificate) {
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 card-container">
              <div class="card">
                <a
                  href="{{ certificate.file }}"
                  class="text-center"
                  title="{{ certificate.description }}"
                  target="_blank">
                  @if (isPdf(certificate)) {
                    <span class="fa-stack fa-lg fa-4x">
                      <i class="fa fa-file-pdf-o fa-stack-1x text-danger"></i>
                    </span>
                  }
                </a>
                <div class="card-body">
                  <h5 class="card-title text-center">{{ certificate.description }}</h5>
                </div>
              </div>
            </div>
          }
        </div>
      }
      @if (!certificates.length) {
        <div class="col-xs-12">
          @if (loading) {
            <div class="spinner">
              <!--suppress HtmlUnknownTarget -->
              <img src="/assets/spinner_horizontal.svg" alt="Loading...">
            </div>
          }
          @if (!loading) {
            <div class="alert alert-danger text-center" role="alert">
              <strong>certifikáty nenalezeny</strong>
            </div>
          }
        </div>
      }
    </div>
  </div>
