<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Website Privacy Statement</h1>
    <div class="table-responsive">
      <table class="table">
        <tbody>
        <tr>
          <td>
            <p class="lead">Commitment to Privacy</p>
          </td>
          <td>
            <p>
              We at <a href="/">vcelnicerudna.cz</a> are committed to providing access to services and information online
              in a manner that respects and protects your privacy. This statement describes our information collection
              practices and explains how we use and protect your personal information.
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p class="lead">Scope</p>
          </td>
          <td>
            <p>This statement applies only to information collected by this web site.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p class="lead">What we collect and why</p>
          </td>
          <td>
            <p>
              We collect the following types of information:
            </p>
            <ul>
              <li>
                <strong>Auto-collected information (web logs).</strong>
                Our web server automatically recognizes the Internet domain and IP address from which you accessed our web site,
                the date and time of your visit, and the pages you visited on our site, as well as information automatically forwarded by your browser.
                This information is used to help us understand aggregate uses of our site, track usage trends, and improve our services.
                Web logs may also be used for system problem monitoring and maintenance.
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            <p class="lead">Cookies</p>
          </td>
          <td>
            <p>Our web site does not use cookie technology.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p class="lead">Sharing your information</p>
          </td>
          <td>
            <p>
              We will not share any information with third parties.
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p class="lead">Links to other web sites</p>
          </td>
          <td>
            This site may contain links to other web sites not affiliated with us.
            We are not responsible for the privacy practices of these other sites.
            We encourage you to read the privacy statements of other sites for assurance that their practices safeguard your privacy.
          </td>
        </tr>
        <tr>
          <td>
            <p class="lead">Changes to Statement</p>
          </td>
          <td>
            <p>We reserve the right to modify this privacy statement at any time and will post the changes on this site.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p class="lead">Contact Us</p>
          </td>
          <td>
            <p>
              We welcome suggestions and questions about our privacy statement.
              Please <a routerLink="/kontakt">contact us</a> in case you have any.
            </p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
