<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-9 col-xl-10">
        <a href="https://play.google.com/store/apps/details?id=cz.vcelnicerudna" target="_blank" class="text-center">
          <!--suppress HtmlUnknownTarget -->
          <img src="/assets/google-play-badge-{{ language }}.png" alt="" class="play-logo"/>
        </a>
      </div>
      <div class="col-12 col-sm-4 col-md-3 col-xl-2">
        <div class="row">
          <div class="col-12 col-md-12">
            <i class="fa fa-copyright"></i>&nbsp;
            <a href="http://www.vcelnicerudna.cz" target="_self">Jan Šaroch</a>
          </div>
          <div class="col-12 col-md-12">
            <i class="fa fa-code"></i>&nbsp;Web Design:
            <a href="mailto:oyapparov@gmail.com">Oleg</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
