<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 footer-content text-center text-sm-end">
        <div class="row">
          <div class="col-12 col-md-12">
            <i class="fa fa-copyright"></i>&nbsp;
            <a href="http://www.vcelnicerudna.cz" target="_self">Jan Šaroch</a>
          </div>
          <div class="col-12 col-md-12">
            <i class="fa fa-code"></i>&nbsp;Web Design:
            <a href="mailto:oyapparov@gmail.com">Oleg</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
