.footer {
  background-color: #ee9c22;
  background-color: rgba(238, 156, 34, 0.9);
  bottom: 0;
  padding: 1rem 0;
  position: absolute;
  width: 100%;
}

.footer div {
  color: #FFFFFF;
}

img.play-logo {
  height: 4rem;
}
