{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!--  Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicon/apple-touch-icon-57x57.png' %}?v=allW0m8qna">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicon/apple-touch-icon-60x60.png' %}?v=allW0m8qna">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicon/apple-touch-icon-72x72.png' %}?v=allW0m8qna">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicon/apple-touch-icon-76x76.png' %}?v=allW0m8qna">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicon/apple-touch-icon-114x114.png' %}?v=allW0m8qna">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicon/apple-touch-icon-120x120.png' %}?v=allW0m8qna">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicon/apple-touch-icon-144x144.png' %}?v=allW0m8qna">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicon/apple-touch-icon-152x152.png' %}?v=allW0m8qna">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon-180x180.png' %}?v=allW0m8qna">
    <link rel="icon" type="image/png" href="{% static 'images/favicon/favicon-32x32.png' %}?v=allW0m8qna" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'images/favicon/android-chrome-192x192.png' %}?v=allW0m8qna" sizes="192x192">
    <link rel="icon" type="image/png" href="{% static 'images/favicon/favicon-96x96.png' %}?v=allW0m8qna" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static 'images/favicon/favicon-16x16.png' %}?v=allW0m8qna" sizes="16x16">
    <link rel="manifest" href="{% static 'images/favicon/manifest.json' %}?v=allW0m8qna">
    <link rel="mask-icon" href="{% static 'images/favicon/safari-pinned-tab.svg' %}?v=allW0m8qna" color="#5bbad5">
    <link rel="shortcut icon" href="{% static 'images/favicon/favicon.ico' %}?v=allW0m8qna">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{% static 'images/favicon/mstile-144x144.png' %}?v=allW0m8qna">
    <meta name="theme-color" content="#ffffff">

    <title>{% block title %}Včelnice Rudná{% endblock %}</title>

    <!--  bower:css -->
    <link rel="stylesheet" href="/static/bower/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/bower/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/static/bower/ekko-lightbox/dist/ekko-lightbox.min.css" />
    <!--  endbower -->

    <!-- inject:css -->
    <link rel="stylesheet" href="/static/css/ie10-viewport-bug-workaround.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <!--  endinject -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    {% include 'partials/navbar.html' %}
    <div class="container">
      {% block container %}{% endblock %}
    </div> <!-- /container -->

    {% include 'partials/footer.html' %}
    
    <!--  bower:js -->
    <script src="/static/bower/jquery/dist/jquery.js"></script>
    <script src="/static/bower/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/static/bower/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
    <!--  endbower -->
    
    <!-- inject:js -->
    <script src="/static/js/vcelnice.min.js"></script>
    <!-- endinject -->
  </body>
</html>
