{% extends 'base.html' %}
{% load staticfiles %}

{% block container %}
  <div class="jumbotron">
    <div class="container">
      <h2 class="text-center webcolor">Kontakt</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <img class="pull-left img-responsive context-image-left" src="{% static 'images/honza.png' %}" alt="" title="" width="300" height="300">
          </div>
          <div class="col-xs-12 col-sm-6 col-md-8 bordered-bottom">
            <strong>Jan Šaroch</strong>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-8 bordered-bottom">
            <strong>Adresa:</strong>&nbsp;Riegrova 376, Rudná
          </div>
          <div class="col-xs-12 col-sm-6 col-md-8 bordered-bottom">
            <strong>Telefon:</strong>&nbsp;+420 723 323 017
          </div>
          <div class="col-xs-12 col-sm-6 col-md-8 bordered-bottom">
            <strong>Email:</strong>&nbsp;
            <a  class="btn btn-primary btn-web" data-toggle="modal" data-target="#contact-modal" href="#" id="contact-trigger">
              jan.saroch@email.cz
            </a>
          </div>
        </div>
    </div>
  </div>
  
  {% include 'partials/contactForm.html' %}
  
{% endblock %}
