{% extends 'base.html' %}
{% load staticfiles %}

{% block container %}
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron intro">
    <div class="container">
      <h1>Něco málo o nás</h1>
      <p>
        <img class="pull-right" src="{% static 'images/honza.png' %}" width="300" height="300">
        Včelařit jsem začal v roce 1991, kdy jsem si na zahradu postavil dva úly, Moravské univerzály.
        Dnes je do toho zapojena celá rodina. Včelaříme v 11 rámkových, nástavkových úlech rámkové míry 39x24.
        Celkem máme 42 včelstev rozmístěných do tří včelnic na Karlštejnsku.
        V našem okolí se vyskytují louky, pole a smíšené lesy, které jsou pro Karlštejnsko typické.<br>
        Med máme převážně květový a smíšený. V omezeném množství nabízíme i med pastovaný.
        Naše roční produkce medu přesahuje 1 tunu.<br>
        Od roku 2011 nás můžete potkat i na regionálních farmářských trzích.<br>
        Osobně mám raději, když se zákazník staví pro svůj med u nás v Rudné. 
        Má tak možnost nakouknout "pod pokličku" a odchází s pocitem, že ten med je skutečně od včelaře, což na farmářských trzích není možné. 
        Včelaři se zde míchají dohromady s překupníky a zákazník tak ztrácí záruku, že kupuje skutečný a nefalšovaný med.<br>
        V dalších sekcích našich stránek můžete nahlédnout na fotografie spojené s naším včelařským provozem, 
        získat recepty na vaření, kde med hraje jednu z hlavních rolí, dozvědět se něco více o medu nebo získat na nás kontakt, 
        abyste si mohli dojet pro svou sklenici medu přímo od včelaře <i class="fa fa-smile-o webcolor"></i>
      </p>
    </div>
  </div>
  <div class="news">
    <div class="row">
      {% for article in articles%}
        <div class="col-sm-3">
          <div class="thumbnail">
            {% if article.icon %}
              <img src="{{ MEDIA_URL }}{{ article.icon }}" alt="" title="" class="thumbnail">
            {% else %}
              <img src="{% static 'images/bee_news.png' %}" alt="" title="" class="default-news-img">
            {% endif %}
            <h3 class="text-center webcolor">
              <strong>{{ article.title }}</strong>
            </h3>
            <div class="news-content hidden">
              {{ article.text | safe }}
            </div>
            {{ article.text | safe | truncatewords_html:12}}
          </div>
          <a href="#" class="btn btn-default btn-block read-more" role="button">
            Číst ...
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="modal fade" id="modal-news" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body no-overflow"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Zavřít
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
