{% extends 'base.html' %}
{% load staticfiles %}

{% block container %}
  <div class="jumbotron">
    <div class="container">
      <h2 class="text-center webcolor">Novinky</h2>
      <div class="row news">
        {% if news %}
          {% for article in news %}
            <div class="col-sm-6 col-md-4">
              <div class="news thumbnail">
                {% if article.icon %}
                  <img src="{{ MEDIA_URL }}{{ article.icon }}" alt="{{ article.title }}" title="{{ article.title }}" class="news-image thumbnail">
                {% else %}
                  <img src="{% static 'images/bee_news.png' %}" alt="{{ article.title }}" title="{{ article.title }}" class="default-news-img">
                {% endif %}
                <div class="caption">
                  <h3 class="webcolor text-center">
                    {{ article.title | truncatechars:50 }}
                    <span class="hidden news-title">{{ article.title }}</span>
                  </h3>
                  <div class="news-content hidden">
                    {{ article.text | safe }}
                  </div>
                  {{ article.text | safe | truncatechars_html:100}}
                </div>
              </div>
              <a href="#" class="btn btn-default btn-block read-more" role="button">
                Číst ...
              </a>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-xs-12">
            <div class="alert alert-danger text-center" role="alert">
              <strong>novinky nenalezeny</strong>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="modal-news"" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Zavřít
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
