{% extends 'base.html' %}

{% block container %}
  <div class="jumbotron">
    <div class="container">
      <h2 class="text-center webcolor">Foto</h2>
      <div class="row">
        {% if gallery %}
          {% for photo in gallery %}
            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="{{ MEDIA_URL }}{{ photo.image }}" class="thumbnail gallery" data-toggle="lightbox" data-gallery="vcelin" data-title="{{ photo.caption }}" target="_blank">
                <img src="{{ MEDIA_URL }}{{ photo.thumb }}" alt="{{ photo.caption }}" title="{{ photo.caption }}">
              </a>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-xs-12">
            <div class="alert alert-danger text-center" role="alert">
              <strong>obrázky nenalezeny</strong>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
