{% extends 'base.html' %}

{% block container %}
  <div class="jumbotron">
    <div class="container">
      <h2 class="text-center webcolor">Ceník</h2>
        {% if prices %}
          {% for price in prices %}
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-3">
                <img class="pull-left img-responsive context-image-left" src="{{ MEDIA_URL }}{{ price.image }}" alt="{{ price.title }}">
              </div>
              <div class="col-xs-12 col-sm-8 col-md-9 bordered-bottom">
                <h4>{{ price.title }}</h4>
              </div>
              <div class="col-xs-12 col-sm-8 col-md-9 bordered-bottom">
                {{ price.price }} Kč {% if price.weight %}({{ price.weight }}){% endif %}
              </div>
              <div class="col-xs-12 col-sm-8 col-md-9 bordered-bottom">
                <button type="button" class="btn btn-primary btn-web reserve-modal">
                  <span class="sr-only">
                    {{ price.title }}, {{ price.price }} Kč{% if price.weight %} ({{ price.weight }}){% endif %}
                  </span>
                  Rezervovat
                </button>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="alert alert-danger text-center" role="alert">
            <strong>ceníky nenalezeny</strong>
          </div>
        {% endif %}
    </div>
  </div>
  
{% include 'partials/reserveForm.html' %}

{% endblock %}
