.jumbotron {
  font-size: 18px;
}

.jumbotron.intro img {
  max-width: 100%;
}

.main-text {
  margin-bottom: 20px;
}

img.home-image {
  border-radius: .5rem;
}

.landing-region,
.landing-news,
.landing-photo {
  scroll-margin-top: 4.5rem;
}
