<div class="container">
  @if (homeResource.hasValue()) {
    @let home = homeResource.value();

    <div class="jumbotron intro">
      <h1>{{ home.title }}</h1>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-7 main-text" [innerHTML]="home.text"></div>
        <div class="col-12 col-md-6 col-lg-5 text-center">
          <img src="{{ home.icon }}" alt="" class="home-image">
        </div>
      </div>
    </div>
  } @else if (homeResource.error()) {
    <div class="jumbotron intro">
      <div class="alert alert-danger text-center" role="alert">
        <strong>neočekávaná chyba</strong>
      </div>
    </div>
  } @else {
    <div class="jumbotron intro">
      <div class="home">
        <div class="spinner" role="status">
          <!--suppress HtmlUnknownTarget -->
          <img src="/assets/spinner_horizontal.svg" alt="Loading...">
        </div>
      </div>
    </div>
  }
</div>

<section
  id="region"
  class="landing-region"
  aria-label="Region">
  <app-region></app-region>
</section>

<section
  id="novinky"
  class="landing-news"
  aria-label="Novinky">
  <app-news></app-news>
</section>

<section
  id="foto"
  class="landing-photo"
  aria-label="Foto">
  <app-photo></app-photo>
</section>

<section
  id="recepty"
  class="landing-recipes"
  aria-label="Recepty">
  <app-recipees></app-recipees>
</section>
