<div class="container">
  <div class="jumbotron">
    <h2 class="text-center web-color title">Region</h2>
    <div class="row">
      <div class="col-12 col-md-5 col-lg-4 text-center">
        <!--suppress HtmlUnknownTarget -->
        <img class="mr-3" src="/assets/images/karlstejnsko.png" alt="Karlštejnsko">
      </div>
      <div class="col-12 col-md-7 col-lg-8 main-text">
        <h5 class="mt-0">Karlštejnsko</h5>
        <p>
          Karlštejnsko je 330 km2 velká oblast s cca 40000 obyvateli. Leží mezi Prahou a Berounem a jak již název
          napovídá
          leží v jeho centru hrad Karlštejn. Hrad Karlštejn, CHKO Český kras, Koněpruské jeskyně, údolí Berounky,
          historický Tetín, lom Velká Amerika a plno dalších zajímavostí jakoby předurčují regionu turistický ráz.<br>
          A také ano. Region navštíví ročně cca 1 milion návštěvníků a Karlštejnsko tak je nejnavštěvovanější venkovskou
          turistickou destinací v ČR. K tomu je možné přičíst ještě dlouhou tradici chataření a chalupaření.
          Vždyť první chalupu si zde založil druhý největší z Čechů Karel IV. již v roce 1348!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="link col-12 offset-md-5 offset-lg-4">
        <a href="http://www.karlstejnsko.info" target="_blank">
          <strong class="web-color">Karlštejnsko</strong>
        </a>
      </div>
      <div class="link col-12 offset-md-5 offset-lg-4">
        <a href="http://toulky.kolas.cz/2010/karls104.htm" target="_blank">
          <strong class="web-color">Jaro na Karlštejnsku</strong>
        </a>
      </div>
    </div>
  </div>
</div>
