<div class="modal-header">
  <h4 class="modal-title web-color">
    <i class="fa fa-forumbee"></i>&nbsp;
    {{ contactFormTitle }}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #form="ngForm">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="email-addon">
          <i class="fa fa-envelope web-color"></i>
        </span>
      </div>
      <input
        type="email"
        class="form-control"
        placeholder="Vaše emailová adresa"
        aria-label="Vaše emailová adresa"
        aria-describedby="email-addon"
        name="email"
        #email="ngModel"
        ngModel
        required
        email>
    </div>
    <div
      role="alert"
      class="alert alert-danger"
      *ngIf="!email.valid && email.touched">
      Zadejte prosím platnou e-mailovou adresu
    </div>
    <div class="form-group">
      <!--suppress HtmlFormInputWithoutLabel -->
      <textarea
        class="form-control"
        id="message"
        rows="3"
        name="message"
        #message="ngModel"
        ngModel
        required></textarea>
    </div>
    <div
      role="alert"
      class="alert alert-danger"
      *ngIf="!message.valid && message.touched">
      {{ emailErrorMessage }}
    </div>
  </form>
  <div class="alert alert-success" role="alert" *ngIf="hasSuccess">
    {{ postMessage }}
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="hasError">
    {{ postMessage }}
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-info"
    [ngClass]="{'button-striped button-striped-active': isSubmitting}"
    (click)="send()"
    [disabled]="!form.valid">
    <i class="fa fa-paper-plane"></i>&nbsp;
    Odeslat
  </button>
  <button
    type="button"
    class="btn btn-danger"
    (click)="activeModal.close('Close click')">
    <i class="fa fa-times"></i>&nbsp;
    Zavřít
  </button>
</div>
