<div class="container">
  <div class="jumbotron">
    <h2 class="text-center web-color title">Kontakt</h2>
    <div class="row">
      <div class="col-12 col-md-5 col-lg-5 col-xl-4 text-center portrait">
        <!--suppress HtmlUnknownTarget -->
        <img class="align-self-start mr-3" src="/assets/images/honza.png" alt="Jan Šaroch">
      </div>
      <div class="col-12 col-md-7 col-lg-7 col-xl-8">
        <ul class="list-group">
          <li class="list-group-item text-center"><strong>Jan Šaroch</strong></li>
        </ul>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-3 col-lg-2">
                <strong>Telefon:</strong>
              </div>
              <div class="col-9 col-lg-10">
                <a href="tel:+420724074845">+420 724 074 845</a>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-3 col-md-12 col-lg-2">
                <strong>Adresa:</strong>
              </div>
              <div class="col-9 col-md-12 col-lg-10 content">
                <a
                  data-fancybox
                  href="https://www.google.com/maps/search/Riegrova+376,+252+19+Rudná/"
                  class="btn btn-primary btn-web">
                  Riegrova 376, Rudná
                </a>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-3 col-lg-2">
                <strong>Email:</strong>
              </div>
              <div class="col-9 col-lg-10 content">
                <button class="btn btn-primary btn-web" id="contact-trigger" (click)="openContactForm()">
                  jan.saroch@email.cz
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
