.content {
  overflow: hidden;
  padding: 5px;
}

.content a, .content > button {
  color: #fff;
  margin: auto 5px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.portrait {
  padding-bottom: 10px;
}

img {
  width: 100%;
}
