<!--suppress HtmlFormInputWithoutLabel -->
<div class="modal-header">
  <h4 class="modal-title web-color">
    <i class="fa fa-forumbee"></i>&nbsp;
    {{cultures.reserve}} - {{title}}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #form="ngForm">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="amount-addon">
          <i class="fa fa-list-ol web-color"></i>
        </span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="{{amount_description}}"
        [attr.aria-label]="cultures.amount_description"
        aria-describedby="amount-addon"
        name="amount"
        #amount="ngModel"
        ngModel
        required>
    </div>
    <div
      role="alert"
      class="alert alert-danger"
      *ngIf="!amount.valid && amount.touched">
      {{cultures.enter_amount}}
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="email-addon">
          <i class="fa fa-envelope web-color"></i>
        </span>
      </div>
      <input
        type="email"
        class="form-control"
        placeholder="{{cultures.your_email}}"
        [attr.aria-label]="cultures.your_email"
        aria-describedby="email-addon"
        name="email"
        #email="ngModel"
        ngModel
        required
        email>
    </div>
    <div
      role="alert"
      class="alert alert-danger"
      *ngIf="!email.valid && email.touched">
      {{cultures.enter_email}}
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-home web-color"></i>
        </span>
      </div>
      <select
        class="custom-select"
        id="location"
        name="location"
        ngModel>
        <option selected disabled value="">
          {{cultures.pickup_location}}
        </option>
        <option *ngFor="let location of locations" [value]="location.address">
          {{ location.address }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <textarea
        class="form-control"
        id="message"
        rows="3"
        name="message"
        ngModel></textarea>
    </div>
  </form>
  <div class="alert alert-success" role="alert" *ngIf="hasSuccess">
    {{ postMessage }}
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="hasError">
    {{ postMessage }}
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-info"
    [ngClass]="{'button-striped button-striped-active': isSubmitting}"
    (click)="send()"
    [disabled]="!form.valid">
    <i class="fa fa-paper-plane"></i>&nbsp;
    {{cultures.send}}
  </button>
  <button
    type="button"
    class="btn btn-danger"
    (click)="activeModal.close('Close click')">
    <i class="fa fa-times"></i>&nbsp;
    {{cultures.close}}
  </button>
</div>
